
<div *ngIf="department">
    <h2><span jhiTranslate="springIoApp.department.detail.title">Department</span> {{department.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="springIoApp.department.departmentName">Department Name</span></dt>
        <dd>
            <span>{{department.departmentName}}</span>
        </dd>
        <dt><span jhiTranslate="springIoApp.department.location">Location</span></dt>
        <dd>
            <div *ngIf="department.locationId">
                <a [routerLink]="['/location-my-suffix', department.locationId]">{{department.locationId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'department-my-suffix/'+ department.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
